*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
}

.contenedor{
    height: 100vh;
    width: 100vw;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
}

.box{
    height: 80%;
    width: 90%;
    border-radius: 1rem;
    overflow: scroll;
    background: white;
    box-shadow: hsla(214, 17%, 51%, 0.582)0rem 0rem 3rem ;
}

/* Imagen */
.box__img{
    height: 14rem;
}

/* Informacion */

.texto{
    padding: 2rem;
}

.texto h4{
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

.texto p{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    color: hsl(214, 17%, 51%);
}

.perfil{
    padding: .6rem 2rem 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfil__persona{
    display: flex;
    align-items: center;
}

.perfil__persona img{
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.datos{
    display: flex;
    flex-direction: column;
}

.datos h6{
    margin-bottom: .5rem;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

.datos p{
    margin: 0;
    letter-spacing:.1rem;
    color: hsl(214, 17%, 51%);
}

.perfil__icono{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%
}

.perfil__icono .flecha{
    height: 1.2rem;
    width: 1.5rem;
    color: hsl(214, 17%, 51%);
}

.share{
    padding: 1rem 2rem 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsl(217, 19%, 35%);
}



.share__media{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.share__media h5{
    letter-spacing: .2rem;
    font-size: 1rem;
    font-weight: 500;
    color: hsl(214, 17%, 51%);
    margin: .8rem 0 0 0;
}

.share__media ion-icon{
    height: 1.3rem;
    width: 1.3rem;
    margin: .5rem 1rem 0 0;
    color: white;
}

.share__media--icono{
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    background-color: hsl(214, 17%, 51%);
}

.share__media--icono .flecha{
    margin: .5rem .5rem .5rem .5rem;
}

.desaparecer{
    display: none;
}

@media screen and (min-width: 1200px) {

    .contenedor{
        height: 100vh;
        width: 100%;
        padding: 0;
        margin: 0rem 0rem 0rem 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(210, 46%, 95%);
    }

    .box{
        height: 40%;
        width: 70%;
        border-radius: 1rem;
        overflow: hidden;
        background: white;
        box-shadow: hsla(214, 17%, 51%, 0.582)0rem 0rem 3rem ;
    }

    .box__img{
        height: 100%;
    }


    .share{
        padding: .5rem .5rem 1rem 1rem;
        border-radius: 1rem;
        position: absolute;
        top: 45%;
        right:10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: hsl(217, 19%, 35%);
    }
    
    .texto h4{
        font-size: 1rem;
        line-height: 1.6rem;
        font-weight: 700;
        color: hsl(217, 19%, 35%);
    }
    
    .texto p{
        font-weight: 500;
        font-size: .8rem;
        line-height: 1.5rem;
        margin-top: 1.5rem;
        color: hsl(214, 17%, 51%);
    }
    
    
    .share__media{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .share__media h5{
        letter-spacing: .2rem;
        font-size: 1rem;
        font-weight: 500;
        color: hsl(214, 17%, 51%);
        margin: .8rem .5rem 0 0;
    }
    
    .share__media ion-icon{
        height: 1.3rem;
        width: 1.3rem;
        margin: .5rem 1rem 0 0;
        color: white;
    }
    
    .share__media--icono{
        display: none;
        justify-content:center;
        align-items: center;
        border-radius: 50%;
        background-color: hsl(214, 17%, 51%);
    }
    
    .share__media--icono .flecha{
        margin: .5rem .5rem .5rem .5rem;
    }

    .desaparecer{
        display: none;
    }

    .texto{
        padding: .9rem;
    }

    .perfil{
        padding: 0rem 2rem 0rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .perfil__persona{
        display: flex;
        align-items: center;
    }
    
    .perfil__persona img{
        height: 2.3rem;
        width: 2.3rem;
        margin-right: 1rem;
        border-radius: 50%;
    }
    
    .datos{
        display: flex;
        flex-direction: column;
    }
    
    .datos h6{
        font-size: .8rem;
        margin-bottom: .5rem;
        font-weight: 700;
        color: hsl(217, 19%, 35%);
    }
    
    .datos p{
        font-size: .7rem;
        margin: 0;
        letter-spacing:.1rem;
        color: hsl(214, 17%, 51%);
    }
    
    .perfil__icono{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(210, 46%, 95%);
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%
    }
    
    .perfil__icono .flecha{
        height: 1.2rem;
        width: 1.5rem;
        color: hsl(214, 17%, 51%);
    }

}